version: '3.8'

services:

  redis:
    image: redis:alpine
    restart: unless-stopped

  app:
    image: nextcloud:29-fpm-alpine
    volumes:
      - nextcloud:/var/www/html:z
      - /mnt/storage/nextcloud:/var/www/html/data:z
    environment:
      - POSTGRES_HOST=postgres
      - REDIS_HOST=redis
      - NEXTCLOUD_HOSTNAME=cloud.jeschek.eu
    env_file:
      - db.env
    depends_on:
      - redis
    networks:
      - default
      - db_default
    restart: unless-stopped

  cron:
    image: nextcloud:29-fpm-alpine
    entrypoint: /cron.sh
    volumes:
      - nextcloud:/var/www/html:z
      - /mnt/storage/nextcloud:/var/www/html/data:z
    depends_on:
      - redis
    networks:
      - default
      - db_default
    restart: unless-stopped

  web:
    build: ./web
    volumes:
      - nextcloud:/var/www/html:z,ro
      - /mnt/storage/nextcloud:/var/www/html/data:z,ro
    environment:
      - VIRTUAL_HOST=cloud.jeschek.eu
      - LETSENCRYPT_HOST=cloud.jeschek.eu
      - LETSENCRYPT_EMAIL=dev@jeschek.eu
    depends_on:
      - app
    networks:
      - default
      - proxy_default
    restart: unless-stopped

  backup:
    image: prodrigestivill/postgres-backup-local
    env_file:
      - db.env
    environment:
      POSTGRES_HOST: postgres
      BACKUP_DIR: /dumps
      SCHEDULE: "0 2 * * *"
    volumes:
      - ../.dumps/nextcloud:/dumps
    networks:
      - db_default
    restart: unless-stopped

volumes:
  nextcloud:

networks:
  proxy_default:
    external: true
  db_default:
    external: true
