# https://github.com/nextcloud/docker/tree/master/.examples/docker-compose/with-nginx-proxy/postgres/fpm
services:

  redis:
    image: redis:alpine
    restart: unless-stopped

  app:
    image: nextcloud:32-fpm-alpine
    volumes:
      - nextcloud:/var/www/html:z
      - /mnt/storage/nextcloud:/var/www/html/data:z
    environment:
      - POSTGRES_HOST=postgres
      - REDIS_HOST=redis
      - NEXTCLOUD_HOSTNAME=cloud.jeschek.eu
      - PHP_MEMORY_LIMIT=1024M
    env_file:
      - db.env
    depends_on:
      - redis
    networks:
      - default
      - db
      - proxy
    extra_hosts:
      - "cloud.jeschek.eu:172.23.0.1"
    restart: unless-stopped

  cron:
    image: nextcloud:32-fpm-alpine
    entrypoint: /cron.sh
    volumes:
      - nextcloud:/var/www/html:z
      - /mnt/storage/nextcloud:/var/www/html/data:z
    depends_on:
      - redis
    networks:
      - default
      - db
      - proxy
    extra_hosts:
      - "cloud.jeschek.eu:172.23.0.1"
    restart: unless-stopped

  web:
    # hostname: 'cloud.jeschek.eu'
    build: ./web
    volumes:
      - nextcloud:/var/www/html:z,ro
      - /mnt/storage/nextcloud:/var/www/html/data:z,ro
    environment:
      - VIRTUAL_HOST=cloud.jeschek.eu
      - LETSENCRYPT_HOST=cloud.jeschek.eu
    depends_on:
      - app
    networks:
      - default
      - proxy
    restart: unless-stopped

  backup:
    image: prodrigestivill/postgres-backup-local
    env_file:
      - db.env
    environment:
      POSTGRES_HOST: postgres
      BACKUP_DIR: /dumps
      SCHEDULE: "0 2 * * *"
    volumes:
      - ../.dumps/nextcloud:/dumps
    networks:
      - db
    restart: unless-stopped

volumes:
  nextcloud:

networks:
  proxy:
    external: true
  db:
    external: true
