FOUNDRY_USERNAME=
FOUNDRY_PASSWORD=
FOUNDRY_ADMIN_KEY=
CONTAINER_PRESERVE_CONFIG=true
FOUNDRY_HOSTNAME=foundry.jeschek.eu
FOUNDRY_IP_DISCOVERY=false
FOUNDRY_MINIFY_STATIC_FILES=true
FOUNDRY_PROXY_PORT=80
FOUNDRY_PROXY_SSL=true
